@import '@/global-styles'
    
.main
    width: 100vw
    height: 100vh
    scrollbar-width: 0


.front_container
    position: absolute
    background: linear-gradient(90deg,transparent ,$primary-color 35vw,$primary-dark 100vw)
    top:0
    left: 0
    z-index: 1
    height: 100vh
    width: 100vw
    display: flex
    justify-content: center
    align-items: center
    flex-wrap: wrap
    flex-direction: row


.emailSubmit_container
    $responsive-widths: (400px:90vw,700px:80vw,900px:50vw,1210px:50vw,1620px:40vw,2160px:40vw,3240px:40vw,4320px:40vw)

    @include specificBreakPointsAtribute(width,$responsive-widths)
    height: min-content
    background-color: white
    display: flex
    flex-wrap: wrap
    flex-direction: column
    padding: 2rem 4rem
    align-items: center
    gap: 1rem
    border-radius: $root-border-radius*2
    box-shadow: 0 0 20px 0px $light-black
    color: $light-black
    animation-name: fadeIn 
    animation-duration: 2s
    animation-timing-function: ease-in
    
    h3
        color: $primary-color

@keyframes fadeIn 
    from
        opacity: 0
    to
        opacity: 100


.emailSubmit_form
    display: flex
    flex-direction: column
    flex-wrap: wrap
    justify-content: center
    align-items: center
    gap: 10px
    width: 100%

    input[type="submit"]
        width: calc(60% + 2em)
        padding: 0.8em 0

.background_image
    position: relative
    right: 50vw
    height: 100vh
    width: 100vw


.minilogo_image
    height: 5rem
    width: 5rem


.verticalRelation 
    .main
        overflow-y: scroll
        width: 100vw
    

    .front_container
        transition: top 2s ease-in-out
        flex-direction: column
        background: linear-gradient(180deg,transparent ,$primary-color 75vw,$primary-dark 100vw)
        padding: 0
        gap:0
    

    .to_logIn
        top:-100vh
    
    .background_image
        position: relative
        right: 0
        height: 100vw
        width: 100vw
    
    
    .emailSubmit_container
        width: 100vw
        border-radius: 0
        box-shadow: unset
        padding-rigth: auto
        padding-left: auto