
.main{
    width: 100vw;
    height: 100vh;
    scrollbar-width: 0;
}

.main *{
    scrollbar-width: 0;
}

.front_container{
    position: absolute;
    top:0;
    left: 0;
    z-index: 1;
    height: 100vh;
    width: 100vw;
    background:linear-gradient(90deg,transparent ,var(--primary-color) 35vw,var(--primary-dark) 100vw);
    display: flex;
    justify-content: flex-end;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: center;
    padding-right: 5%;
    gap: 3vw;
    transition: top 2s ease-in-out;
}

.ela_logo{
    height: 4rem;
    width: 9rem;
    margin-bottom: 10px;
}

.title_container{
    height: 100vh;
    width: 35rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    font-size: 1.5rem;
}


.logIn_container{
    height: 100vh;
    width: 30rem;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 20px 0px var(--light-black);
}

.logIn_form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 70%;
}
.logIn_form>input[type="submit"]{
    width: calc(60% + 2em);
    padding: 0.8em 0;
}

.logIn_guest{
    background-color: var(--contrast-color);
    color: var(--primary-light);
    border: 2px var(--primary-light) solid;
}

.logIn_container>h2{
    color: var(--primary-color)
}

.background_image{
    position: relative;
    right: 50vw;
    height: 100vh;
    width: 100vw;
}

.minilogo_image{
    height: 5rem;
    width: 5rem;
    margin-bottom: 50px;
}


.verticalRelation 
    .main{
        overflow-y: scroll;
        width: 100vw;
    }

.verticalRelation .front_container{
        flex-direction: column;
        height: 200vh;
        background:linear-gradient(180deg,transparent ,var(--primary-color) 35vh,var(--primary-dark) 100vh);
        padding: 0;
        gap:0
    }

.verticalRelation .to_logIn{
        top:-100vh;
    }


.verticalRelation .background_image{
        position: relative;
        right: 0;
        height: 100vw;
        width: 100vw;
    }

.verticalRelation .title_container{
        padding: 2.5em;
        height: 100vh;
        width: 100%;
        font-size: 1.3rem;
        align-items: center;
        text-align: center;
    }
    
.verticalRelation .logIn_container{
        width: 100vw;
        height: 100vh;
        box-shadow: unset;
    }

.verticalRelation .to_logIn_button{
        padding: 0.5em 2em;
        margin-top: 2em;
        background:var(--contrast-color);
        color: var(--primary-light);
        font-weight: 500;
        border-radius: var(--root-border-radius);
    }
    
.verticalRelation .to_logIn_button{
        padding: 0.5em 2em;
        margin-top: 2em;
        background:var(--contrast-color);
        color: var(--primary-light);
        font-weight: 500;
        border-radius: var(--root-border-radius);
    }